.mail-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0 40px;
  padding: 0;
  list-style: none;
}



.mail-preview {
  gap: 10px;
  line-height: 2.8em;
  position: relative;
  padding: 0 15px;
}

.mail-preview h3{
  font-size: 0.9rem;
}

.read{
color: #202124;
background-color: #f2f6fc;
}

.starred {
  color: #f8d92c;
  opacity: 1;
}


.mail-list .sender {
  width: 130px;
}

h3.un-bold {
  font-weight: 400;
}

.content {
  align-items: center;
  width: 0;
  flex-grow: 1;
}

.mail-space{
  width: 100%;
}

.subject{
  text-overflow: ellipsis;
  margin-inline-end: 10px;
  min-width: 100px;
  overflow-x: hidden;
  white-space: nowrap;
}

.body{
  text-overflow: ellipsis;
  font-weight: initial;
  overflow-x: hidden;
  white-space: nowrap;
  color: #5f6368;
}

.date{
  text-align: right;
  padding-inline-start: 50px;
}

.mail-list .actions {
  display: none;
  text-align: right;
  right: 0;
  background-color: #fdfdfd;
  /* background-color: #3335; */
  background-color: inherit;
  position: absolute;
  color: #333;
  /* z-index: 1000; */
}

.mail-list li:hover .actions {
  display: inline-block;
}

/* transparent works well, beside when on read item with date. */
.mail-list .actions>* {
  border-radius: 50%;
  /* background-color: transparent; */
  border: none;
  font-size: 1em;
  padding: 12px;
  margin: 0 3px;
}

.mail-list .actions>*:hover {
  background-color: #f1f1f1;
}


.mail-list li {
  border-bottom: 1px solid #eceff1;
  overflow: hidden;
}

.mail-list li:first-child {
  border-top: 1px solid #eceff1;
}

.mail-list li:hover {
  box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  z-index: 2;
  cursor: pointer;
}

.mail-list li:hover .fade {
  opacity: 1;
}

