.folder-icon {
  align-items: center;
}

.folder-name {
  padding-inline-start: 20px;
  font-weight: 600;
}

.mail-folder-list {
  width: 180px;
  height: 100%;
  position: relative;
}

.side-folder {
  position: fixed;
  margin-right: 10px;
}

.folder-item {
  height: 100%;
  font-size: 22px;
  font-weight: 600;
}

.side-folder {
  position: fixed;
  margin-right: 10px;
  width: 180px;
}

.compose-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 8px;
  right: 103px;
  width: 145px;
  height: 48px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 24px;
  color: #202124;
  letter-spacing: 0.25px;
  padding: 13px;
  cursor: pointer;
}

.compose-container i {
  font-size: 32px;
}

.compose-container span {
  font-size: 16px;
  font-weight: 600;
  padding-left: 14px;
  padding-right: 14px;
  align-self: center;
}

.compose-container:hover {
  box-shadow: rgba(60, 64, 67, 0.438) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.438) 0px 1px 9px 1px;
  background-color: rgba(60, 64, 67, 0.027);
}

.mail-folder-list .folders-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 200px;
  line-height: 45px;
  top: 59px;
  left: 0;
}

.mail-folder-list .folders-container>* {
  width: 66px;
  height: 32px;
}

.mail-folder-list .folder-item {
  display: flex;
  align-items: center;
  gap: 17px;
  padding: 7px 22px 7px 16px;
  width: 100%;
  cursor: pointer;
}

.mail-folder-list .folder-item span {
  color: #202124;
  display: flex;
  justify-content: space-between;
  width: 80%;
  text-align: left;
}

.mail-folder-list .folder-item:hover {
  background-color: #e8eaed94;
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
}

.active-folder {
  background-color: #fdc8c3;
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
}


@media (max-width: 630px) {

  .side-folder span {
    display: none;
  }

  .compose-container {
    width: 45px;
  }

  .mail-folder-list .folder-item {
    width: 60px;
  }
  .mail-folder-list {
    width: 40px;
  }

  .mail-folder-list .folder-item span {
    display: none;
  }


  .mail-folder-list .folders-container {
    width:60px;
  }

}