.white {
    background-color: #fff;
}

.blue {
    background-color: #1467ec;
}

.orange {
    background-color: #fbbc04;
}

.yellow {
    background-color: #fff475;
}

.green {
    background-color: #ccff90;
}

.red {
    background-color: #eb7d7d;
}

.grey {
    background-color: #e7e0e0;
}

/* .other {
     background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
} */


.note-colors-palette {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    margin: .1em;
    cursor: pointer;
    transform: scale(1);
    transition: all .3s;
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    transition: box-shadow .08s linear, min-width .15s cubic-bezier(0.4, 0, 0.2, 1);
}

.color-select {
    position: absolute;
    display: none;
    left: -150%;
    padding: 5px 10px 10px;
    overflow: overlay;
    z-index: 1;
}


