.note-preview-container {
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    text-align: center;
    
}


.note-preview h4 {
    font-size: 1.3em;
}
.note-preview img {
    max-width: 100%;
    object-fit: cover;
    border-radius: 3px;
    margin:0 auto;
    margin-bottom: 10px;
}