.add-note{
    width: 50%;
}
.add-note form {
    width: 100%;
    border: 1px solid #ccc;
    position: relative;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 8px;
    margin-top: 2em;
    margin-bottom: 2em;
}


.add-note form input {
    width: 100%;
    padding: 1em .95em .75em;
    margin: 8px 0;
    box-sizing: border-box;
    border:none;
    line-height: 24px;
    font-family: roboto;
    color: #202124 ;
    font-weight: 600;
    font-size: .95em;
}

.form-add-value:focus, .form-add-title:focus {
    outline: none;
}




.form-add-title[value='']{
    display: none;
}
.add-note form:focus-within>input:first-child{
    display: block;
    font-size: 1em;
    font-weight: bold;
    padding: 1em .95em .75em
}
.form-add-title::-webkit-input-placeholder {
    font-weight: bold;
}


.form-menu .add-btn {
    visibility: hidden
}

.add-note form:focus-within .form-menu .add-btn {
    display: block;
    visibility:visible;
    background-color: #2196f3;
    color: white;
    padding: 9px 11px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: .7em;
}


.add-note form:focus-within .form-menu .add-btn:hover {
    background-color: #0b7dda;
}

.form-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5em;
    position: absolute;
    top:10%;
    right: -5px;
}

.add-note form:focus-within .form-menu {
    position:relative;
    padding-inline-end: 1.5em;

}

.add-options {
    display: flex;
    padding:10px;
    align-items: center;
}

.add-options .button-type>*{
    padding: .4em .6em;
    background: padding-box;
    color: #202124;
    opacity: .7;
    transition: opacity 0.2s ease-in-out;
    font-size: 0.8em;
}


.add-options .button-type>*:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgba(95,99,104,0.157);;
    border-radius: 2em;
}

.add-options .button-type .active{
    color: #0b7dda;
    opacity: 1;
}

.add-options .button-type .fa-youtube.active{
    color: #f00;
}


@media (max-width: 780px) {
    .add-note{
        width: 100%;
        padding: 8px;
    }
    .form-menu {
        right: -45px;
    }
    .add-note form:focus-within .form-menu {
        right: -15px;
    
    }
    .add-options .button-type>*{
        padding: .4em .2em;
    }
}