
/* FLEX */

.flex {
    display: flex;
}

.flex.flex-column {
    flex-direction: column;
}

.flex.row {
    flex-direction: row;
}

.flex.justify-center {
    justify-content: center;
}

/* .flex.justify-between {
    justify-content: space-between;
} */

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.center {
    align-items: center;
    justify-content: center;
}

/* GRID */

.grid {
    display: grid;
}

.grid-auto-fit{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 400x;
    gap: 10px;
}



/* LIST */

.clean-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}


/* SPACEING */

.clean-space{
    margin: 0;
    padding: 0;
}

.text-overflow{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
