.note-index {
    width: 100vw;
}

.note-app.main-content {
    align-items: center;
    flex-grow: 1;
}

.notes-list {
    width: 100%;
    column-count: 4;
    column-width: 200px;
    padding:0.4em 2em 2em 2em;
}

.note-list-title{
    padding-left: 6.125em;
    padding-bottom: 2em;
    text-transform:uppercase ;
    font-weight: 500;
    font-size: .6875em;
    letter-spacing: .8px;
    line-height: 1em;
}

.note-filter-list {
    width: 20%;
    height: 100vh;
    margin-top: 20px;
}

@media (max-width: 780px) {
    .note-filter-list {
        width: 40px;
        margin-top: 80px;
        position: fixed;
    }

    .note-app.main-content {
        margin-top: 80px;
        margin-left: 70px;
    }

    .notes-list {
        padding: 0.5em;
    }

    .note-index {
        width: 90vw;
    }
}